<nav>
  <img class="logo" src="assets/images/logotipo.svg">
  <div class="eKontentNav">
    <a href="#">NOSOTROS</a>
    <a href="#">CREADORES</a>
    <a href="#">CLIENTES</a>
  </div>
</nav>

<div class="fondo-contenido">
  <p style="width:100%; margin-top:0; text-align:center; margin-bottom:0;" class="title-contenido">
    Podemos proveerte de los relatos que necesitas.
  </p>
  <p style="width:100%; margin-top:0; text-align:center; margin-bottom:0;" class="title-contenido">
    Contáctanos ahora...
  </p>
  <div class="contenido">
    <div class="contenido-left">
      <p>
        Dejános saber un poco de ti.
      </p>
      <hr>
      <p>
        Queremos conocer tus intereses y necesidades para ofrecerte el mejor contenido, por favor ingresa tus datos. Nos comunicaremos
        contigo
      </p>
      <br>
      <div class="form-contenido">
        <mat-form-field>
          <input matInput placeholder="Nombre Completo">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="E-mail">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Teléfono">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="¿A qué te dedicas?">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Estado">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Ciudad">
        </mat-form-field>        
      <img src="assets/images/solicitar.svg">
      </div>
    </div>
    <div class="contenido-right">
      <p>
        ¿Qué tipo de contenido necesitas?
      </p>
      <p>
        ¿Qué tipo de formato?
      </p>
      <br>
      <mat-checkbox>Artículos</mat-checkbox>
      <mat-checkbox>Videos</mat-checkbox>
      <br>
      <mat-checkbox>Infografías</mat-checkbox>
      <mat-checkbox>Podcasts</mat-checkbox>
      <br>
      <p>
        ¿Cuáles son tus temas favoritos?
      </p>
      <mat-checkbox>Negocios</mat-checkbox>
      <mat-checkbox>Tecnología</mat-checkbox>
      <mat-checkbox>Desarrollo s...</mat-checkbox>
      <br>
      <mat-checkbox>Emprendedo...</mat-checkbox>
      <mat-checkbox>Arte</mat-checkbox>
      <mat-checkbox>Cultura</mat-checkbox>

      <mat-form-field>
        <input matInput placeholder="¿Qué tan extenso?">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Danos un poco más de detalles."></textarea>
      </mat-form-field>

      <br>
      <button>
        <span>
          SOLICITAR
        </span>
      </button>
    </div>
  </div>

</div>
<footer>
  <div class="footer-wrapper">
    <div class="ekontent-social">
      <img src="assets/images/facebook.svg">
      <img class="imagen-centro" src="assets/images/twitter.svg">
      <img src="assets/images/linkedin.svg">
    </div>
    <hr>
    <div class="contacto">
      <p>
        Teléfono: 55 55 55 55
      </p>
      <p>
        E-mail: contacto@ekontent.store
      </p>
      <p class="creadores">
        De los creadores de RED Empresarial
      </p>
      <p class="derechos">
        © 2017 Ekontent - Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>